<!-- ==================== FOOTER (PIE DE PÁGINA) ==================== -->
<footer class="footer">
    <div class="footer-container">
      <!-- Columna izquierda -->
      <div class="footer-logo">
        <h2>El Amigo 7</h2>
      </div>
  
      <!-- Columna centro -->
      <div class="footer-contact">
        <h4>Contacto</h4>
        <p>Tel: (999) 356 5773</p>
      </div>
  
      <!-- Columna derecha -->
      <div class="footer-social">
        <h4>Escríbenos</h4>
        <div class="social-icons">
          <a href="https://wa.me/529993565773" target = "_blank"><img src="{{ url_for('static', filename='images/Whatsapp.svg') }}" alt="WhatsApp"></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; El Amigo 7. Todos los derechos reservados.</p>
    </div>
  </footer>
  